# Exploratory Data Analysis and Cleaning

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
with open('DataCoSupplyChainDataset.csv', 'r', encoding='utf-8', errors='ignore') as file:
    df = pd.read_csv(file)

In [3]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [4]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

We don't need the following columns.

Also, since all observations in the data were in stock at the time of order placement, then that columns provides no useful information and we remove it as well. We also don't need the Longitude and Latitude of the stores, since it's more helpful to visualize efficiency per state rather than by individual store (since the plot would be too cluttered). Alternatively, if we want to visualize data on a map, it's a better idea to use the Zipcodes, to remove some of the unnecessary clutter.

Lastly, order zipcode is not useful for us because 1) most values are missing, and 2) we already have information on the city, state, and country to which the order is to be delivered.

In [5]:
remove_cols = ['Category Id', 'Category Name', 'Customer Email', 'Customer Fname',
               'Customer Lname', 'Customer Password', 'Order Item Cardprod Id',
               'Order Item Discount', 'Product Description', 'Product Image', 'Product Name',
               'Customer Street', 'Product Status', 'Order Zipcode', 'Longitude', 'Latitude']

In [6]:
df = df.drop(remove_cols, axis = 1)

In [7]:
cols = df.columns

for col in cols:
    print(df[col].value_counts(ascending=False, dropna=False))
    print('--------------- \n')

Type
DEBIT       69295
TRANSFER    49883
PAYMENT     41725
CASH        19616
Name: count, dtype: int64
---------------

Days for shipping (real)
2    56618
3    28765
6    28723
4    28513
5    28163
0     5080
1     4657
Name: count, dtype: int64
---------------

Days for shipment (scheduled)
4    107752
2     35216
1     27814
0      9737
Name: count, dtype: int64
---------------

Benefit per order
 0.000000      1177
 143.990005     199
 72.000000      194
 46.799999      188
 24.000000      181
               ...
-48.830002        1
 48.220001        1
-145.729996       1
-330.109985       1
-337.100006       1
Name: count, Length: 21998, dtype: int64
---------------

Sales per customer
122.839996    1264
109.190002    1247
124.790001    1243
129.990005    1243
116.989998    1243
              ...
455.950012       1
470.250000       1
424.790008       1
98.010002        1
474.760010       1
Name: count, Length: 2927, dtype: int64
---------------

Delivery Status
Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: count, dtype: int64
---------------

Late_delivery_risk
1    98977
0    81542
Name: count, dtype: int64
---------------

Customer City
Caguas         66770
Chicago         3885
Los Angeles     3417
Brooklyn        3412
New York        1816
               ...
Bartlett          25
Malden            22
Ponce             22
Freehold          13
CA                 3
Name: count, Length: 563, dtype: int64
---------------

Customer Country
EE. UU.        111146
Puerto Rico     69373
Name: count, dtype: int64
---------------

Customer Id
5654     47
10591    45
5004     45
5715     44
3708     44
         ..
18698     1
15537     1
15484     1
20681     1
2677      1
Name: count, Length: 20652, dtype: int64
---------------

Customer Segment
Consumer       93504
Corporate      54789
Home Office    32226
Name: count, dtype: int64
---------------

Customer State
PR       69373
CA       29223
NY       11327
TX        9103
IL        7631
FL        5456
OH        4095
PA        3824
MI        3804
NJ        3191
AZ        3026
GA        2503
MD        2415
NC        1992
CO        1914
VA        1849
OR        1668
MA        1607
TN        1582
NV        1440
MO        1354
HI        1248
CT        1094
UT         968
NM         949
LA         948
WA         920
WI         850
MN         672
SC         665
IN         581
DC         579
KY         487
KS         458
DE         269
RI         243
WV         241
OK         232
ND         215
ID         167
AR         164
MT          87
IA          67
AL          35
95758        2
91732        1
Name: count, dtype: int64
---------------

Customer Zipcode
725.0      66770
921.0        337
23455.0      334
957.0        297
79109.0      292
           ...
89015.0       16
32210.0       15
7728.0        13
11225.0        9
NaN            3
Name: count, Length: 996, dtype: int64
---------------

Department Id
7     66861
4     48998
5     33220
3     14525
6      9686
2      2479
9      2026
10     1465
11      492
8       405
12      362
Name: count, dtype: int64
---------------

Department Name
Fan Shop              66861
Apparel               48998
Golf                  33220
Footwear              14525
Outdoors               9686
Fitness                2479
Discs Shop             2026
Technology             1465
Pet Shop                492
Book Shop               405
Health and Beauty       362
Name: count, dtype: int64
---------------

Market
LATAM           51594
Europe          50252
Pacific Asia    41260
USCA            25799
Africa          11614
Name: count, dtype: int64
---------------

Order City
Santo Domingo    2211
New York City    2202
Los Angeles      1845
Tegucigalpa      1783
Managua          1682
                 ...
Libourne            1
Bergerac            1
Juliaca             1
Takasaki            1
Pernik              1
Name: count, Length: 3596, dtype: int64
---------------

Order Country
Estados Unidos       24840
Francia              13222
Mxico                13172
Alemania              9564
Australia             8497
                     ...
Guinea Ecuatorial        2
Kuwait                   2
Shara Occidental         2
Burundi                  1
Serbia                   1
Name: count, Length: 164, dtype: int64
---------------

Order Customer Id
5654     47
10591    45
5004     45
5715     44
3708     44
         ..
18698     1
15537     1
15484     1
20681     1
2677      1
Name: count, Length: 20652, dtype: int64
---------------

order date (DateOrders)
12/14/2016 12:29    5
2/22/2015 14:38     5
2/17/2016 14:08     5
12/31/2016 9:50     5
2/11/2016 16:35     5
                   ..
9/5/2016 5:58       1
9/6/2016 1:56       1
9/6/2016 3:20       1
9/6/2016 19:27      1
1/17/2016 5:56      1
Name: count, Length: 65752, dtype: int64
---------------

Order Id
48880    5
3605     5
28265    5
50037    5
27861    5
        ..
42011    1
42068    1
42072    1
42118    1
26118    1
Name: count, Length: 65752, dtype: int64
---------------

Order Item Discount Rate
0.04    10029
0.15    10029
0.25    10029
0.20    10029
0.18    10029
0.17    10029
0.05    10029
0.16    10029
0.13    10029
0.12    10029
0.10    10029
0.09    10029
0.07    10029
0.06    10029
0.03    10029
0.00    10028
0.01    10028
0.02    10028
Name: count, dtype: int64
---------------

Order Item Id
180517    1
42681     1
28953     1
39851     1
173601    1
         ..
14991     1
150102    1
138584    1
150270    1
65113     1
Name: count, Length: 180519, dtype: int64
---------------

Order Item Product Price
59.990002      24820
129.990005     22372
50.000000      21035
49.980000      19298
399.980011     17325
               ...
349.989990        40
329.989990        27
599.989990        21
1999.989990       15
999.989990        10
Name: count, Length: 75, dtype: int64
---------------

Order Item Profit Ratio
 0.48    9197
 0.35    7997
 0.26    6577
 0.34    6507
 0.47    6378
         ...
-2.07      18
-0.90      18
-2.30      18
-1.10      18
-2.10      18
Name: count, Length: 162, dtype: int64
---------------

Order Item Quantity
1    99134
5    20385
3    20350
4    20335
2    20315
Name: count, dtype: int64
---------------

Sales
129.990005    22372
399.980011    17325
199.990005    15622
299.980011    13729
179.970001     5016
              ...
999.989990       10
379.959992       10
198.000000        9
396.000000        9
99.000000         9
Name: count, Length: 193, dtype: int64
---------------

Order Item Total
122.839996    1264
109.190002    1247
124.790001    1243
129.990005    1243
116.989998    1243
              ...
455.950012       1
470.250000       1
424.790008       1
98.010002        1
474.760010       1
Name: count, Length: 2927, dtype: int64
---------------

Order Profit Per Order
 0.000000      1177
 143.990005     199
 72.000000      194
 46.799999      188
 24.000000      181
               ...
-48.830002        1
 48.220001        1
-145.729996       1
-330.109985       1
-337.100006       1
Name: count, Length: 21998, dtype: int64
---------------

Order Region
Central America    28341
Western Europe     27109
South America      14935
Oceania            10148
Northern Europe     9792
Southeast Asia      9539
Southern Europe     9431
Caribbean           8318
West of USA         7993
South Asia          7731
Eastern Asia        7280
East of USA         6915
West Asia           6009
US Center           5887
South of  USA       4045
Eastern Europe      3920
West Africa         3696
North Africa        3232
East Africa         1852
Central Africa      1677
Southern Africa     1157
Canada               959
Central Asia         553
Name: count, dtype: int64
---------------

Order State
Inglaterra                     6722
California                     4966
Isla de Francia                4580
Renania del Norte-Westfalia    3303
San Salvador                   3055
                               ...
Kabarole                          1
Vrancea                           1
Buyumbura Mairie                  1
Aomori                            1
Iringa                            1
Name: count, Length: 1089, dtype: int64
---------------

Order Status
COMPLETE           59491
PENDING_PAYMENT    39832
PROCESSING         21902
PENDING            20227
CLOSED             19616
ON_HOLD             9804
SUSPECTED_FRAUD     4062
CANCELED            3692
PAYMENT_REVIEW      1893
Name: count, dtype: int64
---------------

Product Card Id
365     24515
403     22246
502     21035
1014    19298
1004    17325
        ...
127        27
208        15
860        11
226        10
60         10
Name: count, Length: 118, dtype: int64
---------------

Product Category Id
17    24551
18    22246
24    21035
46    19298
45    17325
48    15540
43    13729
9     12487
29    10984
37     2029
40     1780
36     1475
26     1201
13     1127
35     1070
41      974
75      838
63      652
76      650
3       632
7       614
62      592
74      529
33      524
72      492
66      484
68      484
67      483
64      442
32      441
44      440
71      434
65      431
12      423
59      405
38      384
69      362
73      357
5       343
6       328
11      309
30      283
61      271
70      208
60      207
31      181
2       138
10      111
16       68
4        67
34       61
Name: count, dtype: int64
---------------

Product Price
59.990002      24820
129.990005     22372
50.000000      21035
49.980000      19298
399.980011     17325
               ...
349.989990        40
329.989990        27
599.989990        21
1999.989990       15
999.989990        10
Name: count, Length: 75, dtype: int64
---------------

shipping date (DateOrders)
1/5/2016 5:58      10
7/16/2015 10:14    10
4/17/2015 22:16    10
5/27/2015 6:48     10
5/9/2015 18:02     10
                   ..
3/29/2015 18:06     1
4/2/2015 12:40      1
4/2/2015 23:10      1
3/31/2015 7:03      1
1/21/2016 5:56      1
Name: count, Length: 63701, dtype: int64
---------------

Shipping Mode
Standard Class    107752
Second Class       35216
First Class        27814
Same Day            9737
Name: count, dtype: int64
---------------

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Customer City                  180519 non-null  object
 8   Customer Country               180519 non-null  object
 9   Customer Id                    180519 non-null  int64
 10  Customer Segment               180519 non-null  object
 11  Customer State                 180519 non-null  object
 12  Customer Zipcode               180516 non-null  float64
 13  Department Id                  180519 non-null  int64
 14  Department Name                180519 non-null  object
 15  Market                         180519 non-null  object
 16  Order City                     180519 non-null  object
 17  Order Country                  180519 non-null  object
 18  Order Customer Id              180519 non-null  int64
 19  order date (DateOrders)        180519 non-null  object
 20  Order Id                       180519 non-null  int64
 21  Order Item Discount Rate       180519 non-null  float64
 22  Order Item Id                  180519 non-null  int64
 23  Order Item Product Price       180519 non-null  float64
 24  Order Item Profit Ratio        180519 non-null  float64
 25  Order Item Quantity            180519 non-null  int64
 26  Sales                          180519 non-null  float64
 27  Order Item Total               180519 non-null  float64
 28  Order Profit Per Order         180519 non-null  float64
 29  Order Region                   180519 non-null  object
 30  Order State                    180519 non-null  object
 31  Order Status                   180519 non-null  object
 32  Product Card Id                180519 non-null  int64
 33  Product Category Id            180519 non-null  int64
 34  Product Price                  180519 non-null  float64
 35  shipping date (DateOrders)     180519 non-null  object
 36  Shipping Mode                  180519 non-null  object
dtypes: float64(10), int64(11), object(16)
memory usage: 51.0+ MB

We must first change the dtype of the date columns

In [9]:
df['order date (DateOrders)'] = pd.to_datetime(df['order date (DateOrders)'])
df['shipping date (DateOrders)'] = pd.to_datetime(df['shipping date (DateOrders)'])

Now let's make two more columns which are the dates but without the time component.

In [10]:
df['Order Date'] = pd.to_datetime(df['order date (DateOrders)'].dt.date)
df['Shipping Date'] = pd.to_datetime(df['shipping date (DateOrders)'].dt.date)

Let's also create a month/year column to visualize shipment deliveries per month.

In [11]:
df['Month Year'] = pd.to_datetime(df['Order Date'].dt.strftime('%m-%Y'))

C:\Users\xulio\AppData\Local\Temp\ipykernel_11556\951310501.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Month Year'] = pd.to_datetime(df['Order Date'].dt.strftime('%m-%Y'))

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Customer City                  180519 non-null  object
 8   Customer Country               180519 non-null  object
 9   Customer Id                    180519 non-null  int64
 10  Customer Segment               180519 non-null  object
 11  Customer State                 180519 non-null  object
 12  Customer Zipcode               180516 non-null  float64
 13  Department Id                  180519 non-null  int64
 14  Department Name                180519 non-null  object
 15  Market                         180519 non-null  object
 16  Order City                     180519 non-null  object
 17  Order Country                  180519 non-null  object
 18  Order Customer Id              180519 non-null  int64
 19  order date (DateOrders)        180519 non-null  datetime64[ns]
 20  Order Id                       180519 non-null  int64
 21  Order Item Discount Rate       180519 non-null  float64
 22  Order Item Id                  180519 non-null  int64
 23  Order Item Product Price       180519 non-null  float64
 24  Order Item Profit Ratio        180519 non-null  float64
 25  Order Item Quantity            180519 non-null  int64
 26  Sales                          180519 non-null  float64
 27  Order Item Total               180519 non-null  float64
 28  Order Profit Per Order         180519 non-null  float64
 29  Order Region                   180519 non-null  object
 30  Order State                    180519 non-null  object
 31  Order Status                   180519 non-null  object
 32  Product Card Id                180519 non-null  int64
 33  Product Category Id            180519 non-null  int64
 34  Product Price                  180519 non-null  float64
 35  shipping date (DateOrders)     180519 non-null  datetime64[ns]
 36  Shipping Mode                  180519 non-null  object
 37  Order Date                     180519 non-null  datetime64[ns]
 38  Shipping Date                  180519 non-null  datetime64[ns]
 39  Month Year                     180519 non-null  datetime64[ns]
dtypes: datetime64[ns](5), float64(10), int64(11), object(14)
memory usage: 55.1+ MB

Now let's remove the NaNs.

In [13]:
df = df[(df['Customer State'] != '95758') & (df['Customer State'] != '91732')]

In [14]:
cols = df.columns
for col in cols:
    print(col, ':', df[col].isna().sum())
    print('--------------- \n')

Type : 0
---------------

Days for shipping (real) : 0
---------------

Days for shipment (scheduled) : 0
---------------

Benefit per order : 0
---------------

Sales per customer : 0
---------------

Delivery Status : 0
---------------

Late_delivery_risk : 0
---------------

Customer City : 0
---------------

Customer Country : 0
---------------

Customer Id : 0
---------------

Customer Segment : 0
---------------

Customer State : 0
---------------

Customer Zipcode : 0
---------------

Department Id : 0
---------------

Department Name : 0
---------------

Market : 0
---------------

Order City : 0
---------------

Order Country : 0
---------------

Order Customer Id : 0
---------------

order date (DateOrders) : 0
---------------

Order Id : 0
---------------

Order Item Discount Rate : 0
---------------

Order Item Id : 0
---------------

Order Item Product Price : 0
---------------

Order Item Profit Ratio : 0
---------------

Order Item Quantity : 0
---------------

Sales : 0
---------------

Order Item Total : 0
---------------

Order Profit Per Order : 0
---------------

Order Region : 0
---------------

Order State : 0
---------------

Order Status : 0
---------------

Product Card Id : 0
---------------

Product Category Id : 0
---------------

Product Price : 0
---------------

shipping date (DateOrders) : 0
---------------

Shipping Mode : 0
---------------

Order Date : 0
---------------

Shipping Date : 0
---------------

Month Year : 0
---------------

Now let's replace EE. UU. with United States.

In [15]:
df['Customer Country'] = df['Customer Country'].replace({'EE. UU.':'United States'})

In [16]:
cols = df.columns
for col in cols:
    print(col, ':', df[col].unique())
    print('-------------\n')

Type : ['DEBIT' 'TRANSFER' 'CASH' 'PAYMENT']
-------------

Days for shipping (real) : [3 5 4 2 6 0 1]
-------------

Days for shipment (scheduled) : [4 1 2 0]
-------------

Benefit per order : [  91.25      -249.0899963 -247.7799988 ... -103.9700012 -237.5899963
 -337.1000061]
-------------

Sales per customer : [314.6400146 311.3599854 309.7200012 ... 298.769989  403.7099915
 474.7600098]
-------------

Delivery Status : ['Advance shipping' 'Late delivery' 'Shipping on time' 'Shipping canceled']
-------------

Late_delivery_risk : [0 1]
-------------

Customer City : ['Caguas' 'San Jose' 'Los Angeles' 'Tonawanda' 'Miami' 'San Ramon'
 'Freeport' 'Salinas' 'Peabody' 'Canovanas' 'Paramount' 'Mount Prospect'
 'Long Beach' 'Rancho Cordova' 'Billings' 'Wilkes Barre' 'Roseville'
 'Bellflower' 'Wheaton' 'Detroit' 'Dallas' 'Carlisle' 'Newark'
 'Panorama City' 'Atlanta' 'Fremont' 'Rochester' 'Bayamon' 'Guayama'
 'Juana Diaz' 'Fort Washington' 'Bakersfield' 'Corona' 'Cincinnati'
 'Germantown' 'Carrollton' 'Houston' 'Ewa Beach' 'Lakewood' 'Rome' 'Vista'
 'Fort Worth' 'Fond Du Lac' 'Philadelphia' 'Ontario' 'Oviedo' 'Buffalo'
 'Honolulu' 'Oceanside' 'North Tonawanda' 'Clovis' 'Jamaica'
 'Granite City' 'Medford' 'Pomona' 'Tempe' 'Santa Ana' 'York' 'Aurora'
 'Simi Valley' 'Silver Spring' 'Saint Paul' 'San Antonio' 'Bronx'
 'Greenville' 'Morristown' 'San Diego' 'Oxnard' 'Albuquerque' 'Amarillo'
 'Lutz' 'Bend' 'East Brunswick' 'Lancaster' 'Hampton' 'New York'
 'Porterville' 'Portland' 'Strongsville' 'El Paso' 'Del Rio' 'Bountiful'
 'Kent' 'Chicago' 'Plymouth' 'Far Rockaway' 'Garden Grove' 'Placentia'
 'Mentor' 'Santa Clara' 'Union' 'Westminster' 'Pompano Beach' 'Azusa'
 'Fort Lauderdale' 'Princeton' 'Perth Amboy' 'Loveland' 'Virginia Beach'
 'Louisville' 'Lockport' 'Staten Island' 'Tucson' 'Cleveland' 'Webster'
 'Stockton' 'Martinsburg' 'Cumberland' 'Pekin' 'Tallahassee'
 'Jacksonville' 'Woonsocket' 'Lithonia' 'Oak Lawn' 'Alhambra' 'New Haven'
 'Phoenix' 'Kenner' 'Washington' 'Holland' 'Morrisville' 'Memphis'
 'Federal Way' 'West Covina' 'Ventura' 'Valrico' 'Kaneohe' 'Brooklyn'
 'Lodi' 'Murfreesboro' 'Carlsbad' 'Hamilton' 'Hayward' 'Bridgeton'
 'Bay Shore' 'Palatine' 'Smyrna' 'Van Nuys' 'Opa Locka' 'Edison' 'Baytown'
 'Sylmar' 'Burnsville' 'Huntington Station' 'Sunnyvale' 'Sugar Land'
 'Brighton' 'Bismarck' 'Gaithersburg' 'Lilburn' 'Provo' 'Columbia'
 'Marietta' 'Rio Grande' 'Denver' 'Taylor' 'Saint Charles' 'Cupertino'
 'Springfield' 'Mission Viejo' 'Roswell' 'Ypsilanti' 'Peoria' 'Clementon'
 'Antioch' 'Salt Lake City' 'Granada Hills' 'Hempstead' 'Astoria' 'Gilroy'
 'Lenoir' 'Columbus' 'Albany' 'Humacao' 'Lindenhurst' 'Elyria' 'Riverside'
 'Carson' 'Mesa' 'San Juan' 'Vega Baja' 'Mayaguez' 'Arecibo'
 'San Sebastian' 'Eugene' 'Algonquin' 'Indianapolis' 'Buena Park'
 'Catonsville' 'Jersey City' 'Lombard' 'New Bedford' 'Newburgh' 'Lansdale'
 'Baltimore' 'Fullerton' 'Sacramento' 'Greensboro' 'Roseburg' 'Modesto'
 'Encinitas' 'Watsonville' 'Meridian' 'Endicott' 'Katy' 'Visalia' 'Lompoc'
 'Ogden' 'Raleigh' 'Hacienda Heights' 'Union City' 'Hollywood'
 'Bolingbrook' 'West Lafayette' 'Woodbridge' 'Weslaco' 'Bell Gardens'
 'La Mirada' 'North Bergen' 'Madison' 'South San Francisco'
 'North Las Vegas' 'Methuen' 'Costa Mesa' 'Glen Burnie' 'Fairfield'
 'Winnetka' 'Mcallen' 'Joliet' 'Brownsville' 'Pawtucket'
 'Colorado Springs' 'Quincy' 'Pittsfield' 'Chino' 'Marion' 'North Hills'
 'Salina' 'Hyattsville' 'North Richland Hills' 'Spring Valley' 'Lawrence'
 'Milpitas' 'Rowland Heights' 'Gardena' 'Cicero' 'Asheboro' 'La Crosse'
 'Florissant' 'Canyon Country' 'Ithaca' 'Allentown' 'Escondido' 'Martinez'
 'Troy' 'Arlington' 'Davis' 'Chandler' 'Elgin' 'Palmdale' 'Massapequa'
 'Pittsburg' 'West New York' 'Orlando' 'Hanover' 'Glendale' 'Enfield'
 'Baldwin Park' 'Chino Hills' 'Toms River' 'Wyandotte' 'Mililani' 'Harvey'
 'Mechanicsburg' 'Opelousas' 'Kailua' 'Norfolk' 'Elmhurst' 'Chillicothe'
 'Canoga Park' 'Jackson' 'Moreno Valley' 'New Orleans' 'San Benito'
 'New Castle' 'Bloomfield' 'Cypress' 'Marrero' 'Grand Prairie' 'Greeley'
 'Littleton' 'Longmont' 'Chesapeake' 'Englewood' 'Arlington Heights'
 'Tampa' 'Irvington' 'Forest Hills' 'Dearborn' 'Compton' 'Garland'
 'Waipahu' 'Carmichael' 'Tustin' 'Anaheim' 'Canton' 'Stafford'
 'South Richmond Hill' 'Middletown' 'West Orange' 'Daly City'
 'Powder Springs' 'Parkville' 'Hialeah' 'Beloit' 'Aguadilla' 'Carolina'
 'Yauco' 'Saint Peters' 'Augusta' 'Chapel Hill' 'East Lansing' 'Stamford'
 'Diamond Bar' 'Milwaukee' 'Lawrenceville' 'Manchester' 'La Puente'
 'Victorville' 'Richmond' 'Eagle Pass' 'Fontana' 'Ballwin' 'New Braunfels'
 'Las Vegas' 'Goose Creek' 'Pharr' 'Yonkers' 'El Monte' 'Reynoldsburg'
 'Hamtramck' 'Medina' 'Highland' 'Jonesboro' 'Elk Grove' 'Montebello'
 'San Francisco' 'Glenview' 'Rock Hill' 'Austin' 'Scottsdale' 'Santa Cruz'
 'Oregon City' 'Annandale' 'Plano' 'Piscataway' 'El Cajon' 'Hilliard'
 'Orange Park' 'Decatur' 'San Pablo' 'Douglasville' 'Henderson'
 'College Station' 'Round Rock' 'Mesquite' 'Broken Arrow' 'Redmond'
 'Findlay' 'La Habra' 'Laguna Hills' 'San Bernardino' 'Apex'
 'South El Monte' 'Irving' 'Blacksburg' 'Dorchester Center' 'Potomac'
 'Winter Park' 'Stone Mountain' 'Goleta' 'Hagerstown' 'Alameda'
 'Saint Louis' 'Pico Rivera' 'Chula Vista' 'Hollister' 'North Hollywood'
 'New Brunswick' 'Beaverton' 'Chicago Heights' 'Hesperia' 'Cary' 'Sanford'
 'Laredo' 'Westland' 'Stockbridge' 'Carol Stream' 'Wichita' 'Olathe'
 'Flushing' 'Lynwood' 'Revere' 'Westerville' 'Cordova' 'Hanford' 'Rialto'
 'Mchenry' 'Mission' 'Salem' 'Duluth' 'Danbury' 'Frankfort' 'Upland'
 'Rosemead' 'Mount Pleasant' 'Lake Forest' 'West Chester' 'Woodside'
 'Norcross' 'Fresno' 'Zanesville' 'Painesville' 'Lynnwood' 'Massillon'
 'Crystal Lake' 'Rego Park' 'Ann Arbor' 'Wyoming' 'La Mesa' 'Edinburg'
 'Howell' 'Michigan City' 'Sheboygan' 'Moline' 'Yuma' 'Campbell'
 'Charlotte' 'Oakland' 'San Marcos' 'Walnut' 'Harlingen' 'Rio Rancho'
 'Nashville' 'Annapolis' 'Laguna Niguel' 'Santee' 'West Jordan' 'Hickory'
 'Manati' 'Trujillo Alto' 'Ponce' 'Toa Alta' 'Irwin' 'South Ozone Park'
 'Ridgewood' 'Bowling Green' 'Richardson' 'Sun Valley' 'Huntington Beach'
 'Fargo' 'Waukegan' 'Highland Park' 'Cerritos' 'Lewisville' 'Alpharetta'
 'New Albany' 'Denton' 'Temecula' 'Tinley Park' 'Dundalk' 'Crown Point'
 'Lawton' 'Fayetteville' 'Milford' 'Bartlett' 'Reno' 'Passaic' 'Reseda'
 'Levittown' 'Wayne' 'Metairie' 'Wheeling' 'Hawthorne' 'Napa' 'Berwyn'
 'Fountain Valley' 'Las Cruces' 'Apopka' 'Folsom' 'El Centro'
 'Jackson Heights' 'Pacoima' 'Hendersonville' 'Clearfield' 'Seattle'
 'Saginaw' 'Conway' 'Sandusky' 'San Pedro' 'Grove City' 'Knoxville'
 'Huntington Park' 'Greensburg' 'Poway' 'O Fallon' 'Chambersburg' 'Normal'
 'Lynn' 'Bensalem' 'Bristol' 'Williamsport' 'Longview' 'Norwalk' 'Bayonne'
 'Tulare' 'National City' 'Dayton' 'Tracy' 'Summerville' 'Merced'
 'Brockton' 'Vallejo' 'West Haven' 'Pasadena' 'South Gate' 'Warren'
 'Clarksville' 'Muskegon' 'Brandon' 'Rancho Cucamonga' 'Santa Maria'
 'Doylestown' 'Colton' 'Indio' 'Plainfield' 'Bellingham' 'Spring'
 'Livermore' 'Santa Fe' 'Palo Alto' 'Henrico' 'Des Plaines' 'Birmingham'
 'Broomfield' 'Guaynabo' 'Cayey' 'Citrus Heights' 'Spokane' 'Dubuque'
 'Madera' 'Everett' 'Brentwood' 'Morganton' 'Vacaville' 'Malden'
 'Gwynn Oak' 'Toa Baja' 'Taunton' 'Freehold' 'Sumner' 'Wilmington']
-------------

Customer Country : ['Puerto Rico' 'United States']
-------------

Customer Id : [20755 19492 19491 ... 18579 16244  2677]
-------------

Customer Segment : ['Consumer' 'Home Office' 'Corporate']
-------------

Customer State : ['PR' 'CA' 'NY' 'FL' 'MA' 'IL' 'MT' 'PA' 'MI' 'TX' 'DE' 'GA' 'MD' 'OH'
 'HI' 'NJ' 'WI' 'AZ' 'CO' 'MN' 'NC' 'NM' 'OR' 'SC' 'VA' 'UT' 'WA' 'KY'
 'WV' 'RI' 'CT' 'LA' 'TN' 'DC' 'ND' 'MO' 'IN' 'ID' 'NV' 'KS' 'AR' 'OK'
 'AL' 'IA']
-------------

Customer Zipcode : [  725. 95125. 90027. 14150. 33162. 94583. 11520. 93905.  1960.   729.
 90723. 60056. 90813. 95670. 59102. 18702. 48066. 90706. 60187. 48238.
 75220. 17013. 75228. 19702. 91402. 30318. 94539. 14609. 75211.   957.
   784.   795. 20744. 93304. 11368. 45238. 20874. 75006. 77093. 90023.
 96706.  8701. 13440. 92083. 76106. 54935. 19139. 91764. 32765. 14221.
 96822. 92056. 14120. 93611. 11434. 62040.  2155. 91766. 85281. 92703.
 17402. 80010. 93065. 20904. 55124. 78201. 19143. 19149. 10466. 27858.
  7960. 92115. 93030. 33147. 87111. 79109. 33549. 97701.  8816. 29720.
 91762. 77015. 23666. 10016. 93257. 97223. 44136. 79927. 78840. 84010.
 98031. 60620.  2360. 11691. 77088. 19124. 48227. 92840. 92105. 60609.
 92870. 95148. 44060. 95051.  7083. 90805. 92683. 33068. 91702. 33324.
  8540.  8861. 45140. 23455. 40214. 14094. 60608. 10314. 85719. 44120.
 10458. 14580. 95207. 25401. 21502. 61554. 32308. 32225.  2895. 95206.
 30058. 60453. 48213. 91801.  6511. 85029. 70065. 15301. 49423. 19067.
 38128. 98023. 92113. 60626. 10457. 60637. 91790. 93003. 20009. 33594.
 96744. 11218. 92057. 76116. 19145. 95240. 93308. 95122. 37130. 92009.
 45011. 77083. 10031. 94541.  8302. 11706. 60067. 30080. 91406. 33055.
 90046. 55106.  8817. 77520. 91342. 55337. 11746. 94087. 77478.  2135.
 58501. 20878. 96817. 30047. 84604. 38401. 30062.   745. 11212. 80219.
 48180. 48205. 44102. 63301. 95014. 65807. 92692. 90042. 30075. 48197.
 85345. 92843.  8021. 38127. 37013. 84118. 91344. 11550. 11103. 95020.
 28645. 43228. 97321.   791. 11757. 44035. 92504. 90745. 85204. 96818.
   921.   693.   680.   612.   685. 85033. 97402. 90806. 60102. 46227.
 90003. 90620. 21228. 10306. 30066.  7305. 38109. 60148. 11207.  2740.
 12550. 33175. 19446. 90037. 21206. 85035. 92833. 21218. 95823. 60614.
 27410. 95127. 44107. 97470. 95350. 10003. 92024. 95116. 95076. 83642.
 77084. 11229. 13760. 77450. 93277. 93535. 85022. 93436. 33186. 17404.
 84404. 27610. 91745.  7087. 33023. 60440. 47906.  7105. 22192. 78596.
 11432. 75243. 90201. 92109. 90638. 90065.  7047. 92691. 10002. 53704.
 94080. 19144. 33312. 89030. 80013.  1844. 92627. 60649. 21061. 45014.
 91306. 93063. 60616. 78501. 90032. 60435. 78520.  2860. 80918.  2169.
 78227.  1201. 91710. 60640. 10461. 43302. 91343. 60617. 67401. 20783.
 76180. 10977. 60643.  1841. 44130. 91761. 31907. 90063. 45013. 95035.
 91748. 90247. 60804. 97405. 90024. 27203. 54601. 63031. 91351. 14850.
 18103. 92026. 94553. 48098. 22204. 75227. 95616. 11238. 85225. 85224.
 60613. 60123. 93550. 11758. 92707. 94565.  7093. 75217. 90007. 80011.
 32822. 17331. 23452. 85301. 60641.  6082. 19134. 91706. 60657. 91709.
 19104.  8753. 60622. 95822. 48192.  7104. 11204. 96789. 10011. 11221.
 60426. 17055. 70570. 96734. 23503. 22193. 60126. 77479. 27606. 45601.
 91304. 49201. 92553. 60624. 70119. 78586. 11203. 19720.  7003. 87105.
 90001. 90630. 70117. 10040. 70072. 75052. 10467. 80631. 92111. 33165.
 44109. 80126. 80501. 23320. 80110. 60004. 33624. 46226. 90043. 95351.
  7111. 19711. 11375. 10029. 78521. 48126. 75007. 93307. 90221. 17601.
 75043. 92507. 96797. 85713. 95608. 92780. 92805. 60651. 48187. 22554.
 92126. 11419. 45044. 75240. 85308.  7052. 94015. 30127. 21234. 48224.
 33010. 90022. 11236. 53511. 27834. 75287.   603.   983.   698. 90066.
 11226. 11209. 63376. 92114. 60615. 30906. 78223. 87120. 19140. 10021.
 27514. 48823.  6902. 91765. 77036. 94544. 53215. 30044.  6040. 11224.
 91744. 92392. 23223. 63033. 21224. 32244. 78852. 92335. 63021. 11220.
 78130. 89121. 29445. 78577. 10701. 91732. 96816. 33064. 43068. 48212.
 94587. 44256. 33313. 92346. 90019. 72401. 95758. 90640. 94109. 30907.
 60025. 60647. 85282. 95111. 29730. 60660. 85746. 78753. 85254. 95060.
 97045. 22003. 38118. 75023.  8854. 33155. 23322. 92084. 92025. 30067.
 92705. 92021. 43026. 32073. 10025. 60625. 30032. 94806. 33016. 92804.
 32808. 78228. 19120. 90804. 30135. 89015. 60120. 77840. 78664. 75150.
 74012. 98052. 45840. 90631. 92653. 14215. 90057. 21215. 79912. 43230.
 92407. 27502. 94110. 23464. 91733. 80231. 89103. 75061. 11234. 24060.
  2124. 60505. 92336.  7307. 78207. 20854. 77469. 84119. 90002. 32792.
 60610. 30083. 93117. 21740. 94501. 33161. 92701. 63136. 78240. 90660.
 91910. 92882. 63116. 60619. 95124. 79924. 92020. 85032. 76010. 17603.
 76133. 95023. 91605. 55104. 78704. 90033. 94122. 60638. 11235. 62301.
 10472. 10473.  8901. 97007. 20020. 60411. 92054. 92345. 92503. 27511.
 27330. 78040. 48185. 10453. 91911. 30281. 60188. 11237. 10469. 33012.
 60634. 67212. 94509. 89110. 90004. 66062. 75216. 11354. 10312. 90220.
 90262. 90034. 92802.  2151. 92410. 43081. 38018. 60623. 60506. 92129.
 90011. 93230. 11216. 32825. 11213. 12180. 92376. 60050. 78572. 11214.
 97301. 30096. 92509. 19148.  6810. 43055. 70122. 40601. 91786. 91770.
 48858. 97303. 88201. 19131. 92630. 10023. 19380. 10460. 10128. 92404.
 80015. 10033. 11377. 94536. 30093. 93306. 93722. 43701. 60504. 92102.
 27406. 44077. 91977. 30331. 97229. 98037. 44646. 33021. 60644. 60014.
 11374. 19111. 55112. 48103. 97206. 93727. 49509. 91941. 78539. 48843.
 46360. 53081. 61265. 85283. 77055. 89101. 11373. 11208. 10456. 85364.
 10024. 89108. 10027. 95008. 89123. 28205. 94601. 92069. 91789. 84120.
 78550. 80012. 87124. 37211. 21401. 60618. 33177. 92677. 92071. 84084.
 11206. 33157. 28601.   674.   976.   728.   953. 15642. 11420. 93536.
 11215. 80906. 11385. 79936. 95355. 42101. 92104. 75080. 89115. 89119.
 33126. 38111. 92704. 79907. 91352. 65203. 92646. 58103. 97006. 60085.
 90006. 48219. 48203. 11219. 85040. 78666. 90703. 20906. 10009. 75067.
 94538.  6457. 95112. 30022. 63129. 93702. 85009. 11210. 33125. 17602.
 11230. 33176. 47150. 19382. 43229. 75149. 33015. 29223. 76201. 10032.
 91405. 92592. 60477. 93033. 33065. 21222. 78250. 46307. 11201. 10452.
 73505. 28314. 10463.  6460. 60103. 60630. 89502.  7055. 90016. 91335.
 78046. 11756.  7470. 70003. 20002. 44105. 26003. 85705. 90250. 94558.
 60402. 92708. 23456. 88005. 32703. 90044. 95630. 92243. 92557. 11372.
 48234. 91331. 77072. 48221. 11435. 43207. 60632. 37075. 84015. 98115.
 90047. 85201. 60628. 32303. 48601. 63123. 72032. 33025. 44870. 90731.
 92801. 43123. 37922. 92117. 90255. 87112. 15601. 91767. 60441. 92064.
 23454. 63366. 17201. 44118. 61761.  1902. 10028. 75093. 33142. 90018.
 19020.  6010. 95828. 17701. 92626. 75231. 98632. 90650. 89117.  7002.
 93274. 91950. 92879. 45424. 94112. 95376. 29483. 95340. 85710. 93906.
  2301. 85706. 30034. 20011. 94533. 94591.  6516. 21122. 92154. 33614.
 92027. 90026. 90280. 48093. 37042. 49442. 85008. 28540. 77080. 33511.
 96819. 91730. 11211. 60645. 93458. 18901. 47374. 92324. 92647. 38116.
 48235. 75060. 92201.  7060. 94014. 98226. 93720. 60629. 93309. 30043.
 77379. 11355. 10462. 91606. 53209. 94550. 60639. 87505. 94303. 20019.
 23233. 60016. 23462. 33024. 77081. 60636. 35215. 80020.   969.   736.
 60621. 40475. 60544. 30349. 95610. 33063. 78745. 10468. 94086. 99205.
 52001. 93638. 21229. 98208. 11717. 28655. 95687. 95123.  2148. 21207.
   949.  2780.  7728. 98390. 48228. 90744. 11223. 43130. 11225. 75040.
 33311. 11233. 32210. 89014.  7306.]
-------------

Department Id : [ 2  4  5  3  6  7 10  8  9 11 12]
-------------

Department Name : ['Fitness' 'Apparel' 'Golf' 'Footwear' 'Outdoors' 'Fan Shop' 'Technology'
 'Book Shop' 'Discs Shop' 'Pet Shop' 'Health and Beauty ']
-------------

Market : ['Pacific Asia' 'USCA' 'Africa' 'Europe' 'LATAM']
-------------

Order City : ['Bekasi' 'Bikaner' 'Townsville' ... 'Tongling' 'Liuyang' 'Nashua']
-------------

Order Country : ['Indonesia' 'India' 'Australia' 'China' 'Japn' 'Corea del Sur' 'Singapur'
 'Turqua' 'Mongolia' 'Estados Unidos' 'Nigeria'
 'Repblica Democrtica del Congo' 'Senegal' 'Marruecos' 'Alemania'
 'Francia' 'Pases Bajos' 'Reino Unido' 'Guatemala' 'El Salvador' 'Panam'
 'Repblica Dominicana' 'Venezuela' 'Colombia' 'Honduras' 'Brasil' 'Mxico'
 'Uruguay' 'Argentina' 'Cuba' 'Per' 'Nicaragua' 'Ecuador' 'Angola' 'Sudn'
 'Somalia' 'Costa de Marfil' 'Egipto' 'Italia' 'Espaa' 'Suecia' 'Austria'
 'Canada' 'Madagascar' 'Argelia' 'Liberia' 'Zambia' 'Nger' 'SudAfrica'
 'Mozambique' 'Tanzania' 'Ruanda' 'Israel' 'Nueva Zelanda' 'Banglads'
 'Tailandia' 'Irak' 'Arabia Saud' 'Filipinas' 'Kazajistn' 'Irn'
 'Myanmar (Birmania)' 'Uzbekistn' 'Benn' 'Camern' 'Kenia' 'Togo' 'Ucrania'
 'Polonia' 'Portugal' 'Rumania' 'Trinidad y Tobago' 'Afganistn' 'Pakistn'
 'Vietnam' 'Malasia' 'Finlandia' 'Rusia' 'Irlanda' 'Noruega' 'Eslovaquia'
 'Blgica' 'Bolivia' 'Chile' 'Jamaica' 'Yemen' 'Ghana' 'Guinea' 'Etiopa'
 'Bulgaria' 'Kirguistn' 'Georgia' 'Nepal' 'Emiratos rabes Unidos'
 'Camboya' 'Uganda' 'Lesoto' 'Lituania' 'Suiza' 'Hungra' 'Dinamarca'
 'Hait' 'Bielorrusia' 'Croacia' 'Laos' 'Barin' 'Macedonia'
 'Repblica Checa' 'Sri Lanka' 'Zimbabue' 'Eritrea' 'Burkina Faso'
 'Costa Rica' 'Libia' 'Barbados' 'Tayikistn' 'Siria' 'Guadalupe'
 'Papa Nueva Guinea' 'Azerbaiyn' 'Turkmenistn' 'Paraguay' 'Jordania'
 'Hong Kong' 'Martinica' 'Moldavia' 'Qatar' 'Mali' 'Albania'
 'Repblica del Congo' 'Bosnia y Herzegovina' 'Omn' 'Tnez' 'Sierra Leona'
 'Yibuti' 'Burundi' 'Montenegro' 'Gabn' 'Sudn del Sur' 'Luxemburgo'
 'Namibia' 'Mauritania' 'Grecia' 'Suazilandia' 'Guyana' 'Guayana Francesa'
 'Repblica Centroafricana' 'Taiwn' 'Estonia' 'Lbano' 'Chipre'
 'Guinea-Bissau' 'Surinam' 'Belice' 'Eslovenia' 'Repblica de Gambia'
 'Botsuana' 'Armenia' 'Guinea Ecuatorial' 'Kuwait' 'Butn' 'Chad' 'Serbia'
 'Shara Occidental']
-------------

Order Customer Id : [20755 19492 19491 ... 18579 16244  2677]
-------------

order date (DateOrders) : <DatetimeArray>
['2018-01-31 22:56:00', '2018-01-13 12:27:00', '2018-01-13 12:06:00',
 '2018-01-13 11:45:00', '2018-01-13 11:24:00', '2018-01-13 11:03:00',
 '2018-01-13 10:42:00', '2018-01-13 10:21:00', '2018-01-13 10:00:00',
 '2018-01-13 09:39:00',
 ...
 '2016-01-30 21:10:00', '2016-01-30 02:36:00', '2016-01-29 17:29:00',
 '2016-01-29 14:41:00', '2016-01-27 06:59:00', '2016-01-26 19:25:00',
 '2016-01-22 06:49:00', '2016-01-21 02:47:00', '2016-01-20 07:10:00',
 '2016-01-17 05:56:00']
Length: 65749, dtype: datetime64[ns]
-------------

Order Id : [77202 75939 75938 ... 26383 26327 26118]
-------------

Order Item Discount Rate : [0.04       0.05       0.06       0.07       0.09       0.1
 0.12       0.13       0.15000001 0.16       0.17       0.18000001
 0.2        0.25       0.         0.01       0.02       0.03      ]
-------------

Order Item Id : [180517 179254 179253 ...  65129  65126  65113]
-------------

Order Item Product Price : [ 327.75         59.99000168   39.99000168   50.           44.99000168
   54.97000122   99.98999786   21.98999977   31.98999977   30.
   47.99000168   89.98999786   29.98999977  129.9900055   299.980011
  252.8800049   452.0400085  1500.          999.9899902    79.98999786
   25.           24.98999977   15.98999977  215.8200073   461.480011
  210.8500061    34.99000168   27.98999977   70.           19.98999977
   51.99000168  399.9899902   299.9899902   357.1000061    59.08000183
  199.          399.980011     31.07999992  109.9499969   164.3800049
   11.28999996   94.98999786   17.98999977   99.          532.5800171
   22.          149.9900055   199.9900055    84.40000153  293.0400085
  249.9900055   260.6499939    39.75         99.94999695  329.9899902
  159.9900055   599.9899902   189.          124.9899979  1999.98999
   14.98999977  179.9900055     9.98999977  169.9900055    80.
   65.          108.          100.          119.9899979   209.9900055
  109.9899979   134.9900055    11.53999996  349.9899902    49.97999954]
-------------

Order Item Profit Ratio : [ 0.28999999 -0.80000001  0.08        0.44999999  0.06        0.33000001
  0.23999999  0.47999999  0.17        0.1         0.05       -0.76999998
  0.28        0.5         0.27000001  0.31        0.46000001  0.30000001
 -0.06        0.09       -0.30000001 -1.33000004  0.2         0.11
  0.19        0.41999999  0.         -0.27000001 -1.54999995  0.34999999
 -0.25        0.25999999 -0.69999999  0.34        0.44        0.49000001
  0.25        0.15000001  0.14       -1.60000002 -0.16        0.16
  0.13        0.04        0.36000001  0.22       -0.1        -0.2

In [17]:
df['Shipping Date'].dt.year.unique()

array([2018, 2016, 2017, 2015])

## Create New Columns for Metrics

We already have the order placement day, and we have the amount of days it took to be delivered. Thus, we can already measure the Order Cycle Time. We can also calculate the difference between real and expected delivery days to see how efficient the supply chain is with the Average Shipping Delay.

In [18]:
# positive values would indicate delays, negative would indicate early arrivals
df['Delivery Diff'] = df['Days for shipping (real)'] - df['Days for shipment (scheduled)']

## Save New Dataset

In [19]:
df.to_csv('cleaned_dataco.csv', index=False)